body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header, footer {
    height: 100px;
    background-color: #333;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#app {
    width: 100vw;
    height: calc(100vh - 200px);
    
    background-color: #f0f0f0;
    overflow: hidden;
}


