body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header, footer {
    height: 100px;
}

#app {
    width: 100vw;
    height: calc(100vh - 200px); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    overflow: hidden; 
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover; 
}
