body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
}

.logo {
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.burger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

#app {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


@media screen and (max-width: 768px) {
    .menu {
        display: none; 
    }

    .burger {
        display: flex; 
    }
}
footer {
    background-color: #333;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.logo-footer {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.footer-text {
    font-size: 16px;
}